{% extends "blog/base.html" %}
{% load staticfiles %}
{% block header-img %}

    style="background-image: url('{% static "img/contact-bg.jpg"  %}')"

{% endblock %}

{% block content %}
    <div class="well panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
              <img src="https://scontent-mad1-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/11889574_10207765119473032_5311985055402230467_n.jpg?oh=602836184e812d5d16fd967216a9a1a1&oe=56A421FF" alt="" class="center-block img-circle img-thumbnail img-responsive">
              <ul class="list-inline ratings text-center" title="Ratings">
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
              </ul>
            </div>
            <!--/col-->
            <div class="col-xs-12 col-sm-8">
              <h2>Anartz Mugika</h2>
              <p><strong>About: </strong> Mobile / Web Developer. </p>
              <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
              <p><strong>Skills: </strong>
                <span class="label label-info tags">android</span>
                <span class="label label-info tags">ionic framework</span>
                <span class="label label-info tags">angularjs</span>
                <span class="label label-info tags">bootstrap3</span>
              </p>
            </div>
            <!--/col-->
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-4">
              <h2><strong> 20,7K </strong></h2>
              <p><small>Followers</small></p>
              <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
            </div>
            <!--/col-->
            <div class="col-xs-12 col-sm-4">
              <h2><strong>245</strong></h2>
              <p><small>Following</small></p>
              <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
            </div>
            <!--/col-->
            <div class="col-xs-12 col-sm-4">
              <h2><strong>43</strong></h2>
              <p><small>Snippets</small></p>
              <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Options </button>
            </div>
            <!--/col-->
          </div>
          <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->
{% endblock %}

{% block categories %}
    <div class="well">
        <h4> Categories</h4>
        <ul>
            {% for cat in post_categorys %}
               <li><a href="/post/category/{{ cat.0 }}">{{ cat.1 }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

