{% extends "blog/base.html" %}
{% load staticfiles %}
{% block header-img %}

    style="background-image: url('{% static "img/about-bg.jpg"  %}')"

{% endblock %}

{% block content %}
    <h1>{{title}}</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
{% endblock %}

{% block categories %}
    <div class="well">
        <h4> Categories</h4>
        <ul>
            {% for cat in post_categorys %}
                <li>{{ cat }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
