 {% extends "blog/base.html" %}

 {% block content %}
    {% for post in posts %}

        <div class="post-preview">
            <a href="{% url "blog.views.post_detail" pk=post.pk %}">
                <h2 class="post-title">
                    {{ post.title }}
                </h2>
                <h3 class="post-subtitle">
                    {{ post.description}}
                </h3>
            </a>
            {% if post.source != '' %}
            <p> Source: <a href = "{{post.source}}">{{post.source_title}}</a></p>
            {% endif %}
            <p class="post-meta">Posted by <a href="#">{{ post.author }}</a> on {{ post.published_date }}</p>
        </div>

    {% endfor %}
{% endblock content %}

{% block categories %}
    <div class="well">
        <h4> Categories</h4>
        <ul>
            {% for cat in post_categorys %}
                <li>{{ cat }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
