<html>
    <head>
    	<title>Mi Blog example</title>
    	<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
    	<div class="container">
    		<div>
	    	    <h1>Mi Blog example</h1>
	        </div>

			{% for post in posts %}
			    <div>
				    <h1><a href="">{{ post.title }}</a></h1>
				    <p><strong>Published: </strong>{{ post.published_date }}</p>
			        <p>{{ post.text|linebreaks }}</p>
			    </div>
			{% endfor %}
			<blockquote>
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
			</blockquote>


    	</div>
    </body>
</html>
