{% extends "blog/base.html" %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
{% block header-img %}

    style="background-image: url('{% static "img/catarata.jpg"  %}')"

{% endblock %}

{% block content %}
    <h1>{{title}}</h1>
    <div id="edit-form">
        <form method="POST" class="post-form">{% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Guardar Cambios</button>
        </form>
    </div>
    
{% endblock %}
{% block categories %}
    <div class="well">
        <h4> Categories</h4>
        <ul>
            {% for cat in post_categorys %}
                <li>{{ cat }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
