{% extends "blog/base.html" %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p>{{ main_post.title}}</p>
        <p>{{ main_post.text}}</p>
        <pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
    </div>
{% endblock content %}

{% block categories %}
    <div class="well">
        <h4> Categories</h4>
        <ul>
            {% for cat in post_categorys %}
                <li>{{ cat }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
