{% extends "blog/base.html" %}
{% load staticfiles %}
{% block header-img %}

    style="background-image: url('{% static "img/about-bg.jpg"  %}')"

{% endblock %}

{% block content %}
    <h1>Projectos</h1>
      <p class="lead text-center">I am a creative graphic designer focused on modern eye catching designs. I am not only the graphic designer! I can also do complete websites &amp; computer applications.</p>
      <div class="container">
        <div class="row stylish-panel">
          <div class="col-md-3">
            <div>
              <img src="http://lorempixel.com/200/200/abstract/1/" alt="Texto Alternativo" class="img-circle img-thumbnail">
              <h2>Webdesigner</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <a href="#" class="btn btn-primary" title="See more">See works »</a>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <img src="http://lorempixel.com/200/200/abstract/2/" alt="Texto Alternativo" class="img-circle img-thumbnail">
              <h2>Photographer</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <a href="#" class="btn btn-primary" title="See more">See works »</a>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <img src="http://lorempixel.com/200/200/abstract/3/" alt="Texto Alternativo" class="img-circle img-thumbnail">
              <h2>Copywriter</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <a href="#" class="btn btn-primary" title="See more">See works »</a>
            </div>
          </div>
        </div>
        <div class="row stylish-panel">
          <div class="col-md-3">
            <div>
              <img src="http://lorempixel.com/200/200/abstract/4/" alt="Texto Alternativo" class="img-circle img-thumbnail">
              <h2>Webdesigner</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <a href="#" class="btn btn-primary" title="See more">See works »</a>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <img src="http://lorempixel.com/200/200/abstract/5/" alt="Texto Alternativo" class="img-circle img-thumbnail">
              <h2>Photographer</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <a href="#" class="btn btn-primary" title="See more">See works »</a>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <img src="http://lorempixel.com/200/200/abstract/6/" alt="Texto Alternativo" class="img-circle img-thumbnail">
              <h2>Copywriter</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
              </p>
              <a href="#" class="btn btn-primary" title="See more">See works »</a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
